@charset "UTF-8";

//@import "settings";


/* Scally framework
   ========================================================================= */

/**
 * CORE.
 *
 * N.B. this is all mandatory for the Scally framework.
 */

// Settings
$font-family-base: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-size-heading-1:     30;
$font-size-heading-2:     20;
$font-size-heading-3:     18;
$font-size-heading-4:     16;
$font-size-heading-5:     14;
@import "../node_modules/scally/core/settings/typography";

@import "../node_modules/scally/core/settings/spacing";

@import "../node_modules/scally/core/settings/retina-resolution";

@import "../node_modules/scally/core/settings/breakpoints";

@import "../node_modules/scally/core/settings/widths";

$color-brand: #e98e95;
@import "../node_modules/scally/core/settings/colours";

@import "../node_modules/scally/core/settings/positioning";

@import "../node_modules/scally/core/settings/cosmetics";

// Functions
@import "../node_modules/scally/core/functions/convert-px-to-em-rem";

@import "../node_modules/scally/core/functions/math-helpers";

@import "../node_modules/scally/core/functions/string-replace";

@import "../node_modules/scally/core/functions/strip-unit";

// Mixins
@import "../node_modules/scally/core/mixins/convert-px-to-em-rem";

@import "../node_modules/scally/core/mixins/font-size";

@import "../node_modules/scally/core/mixins/gradients";

@import "../node_modules/scally/core/mixins/media-queries";

@import "../node_modules/scally/core/mixins/generate-at-breakpoints";

@import "../node_modules/scally/core/mixins/generate-percentage-classes-at-breakpoints";

@import "../node_modules/scally/core/mixins/retina-bg-image";

@import "../node_modules/scally/core/mixins/target-browsers";

@import "../node_modules/scally/core/mixins/target-headings";

@import "../node_modules/scally/core/mixins/text-input-placeholder-colour.scss";

// Normalize
@import "../node_modules/scally/core/normalize";

// Reset
@import "../node_modules/scally/core/reset";

// Base
@import "../node_modules/scally/core/base/root";

@import "../node_modules/scally/core/base/abbreviation";

@import "../node_modules/scally/core/base/forms";

@import "../node_modules/scally/core/base/details";

@import "../node_modules/scally/core/base/headings";

@import "../node_modules/scally/core/base/horizontal-rule";

$link-color: #5daabe;
@import "../node_modules/scally/core/base/links";

@import "../node_modules/scally/core/base/media";

@import "../node_modules/scally/core/base/paragraphs";

@import "../node_modules/scally/core/base/print";

@import "../node_modules/scally/core/base/viewport";

// Placeholders
@import "../node_modules/scally/core/placeholders/bottom-spacing";


/**
 * LAYOUT.
 */

// Main container
$l-container-maximum-width: 1000;
$l-container-apply-breakpoints-for-default: true;
@import "../node_modules/scally/layout/l-container";

// Grid
@import "../node_modules/scally/layout/l-grid";

/**
 * OBJECTS.
 */

$o-list-apply-hanging-bullets: true;
@import "../node_modules/scally/objects/o-list";

@import "../node_modules/scally/objects/o-list-block";

@import "../node_modules/scally/objects/o-list-inline";


/**
 * COMPONENTS.
 */



/**
 * UTILITIES.
 */

@import "../node_modules/scally/utilities/u-hide";

@import "../node_modules/scally/utilities/u-text";

@import "../node_modules/scally/utilities/u-spacing";

@import "../node_modules/scally/utilities/u-widths";




/* Mine
   ========================================================================= */
h1 {
  color: $color-brand;
  @extend %u-s-mb-small;
}

h2 {
  @extend %u-s-mb-none;
}

abbr[title] {border: none;}

footer {
  @extend %u-s-pe-small;
  border-top: 1px solid #ccc;
  color: #888;
}

.icon {
  @extend %u-s-mr-tiny;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}

.block {
  @extend %u-s-mb-base;
}

.block__subtitle {
  @extend %u-s-mb-small;
  @include to-rem(font-size, $font-size-small);
  color: #888;
}

.name {
  color: #000;
  font-weight: normal;
  //@include to-rem(font-size, $font-size-small);
}

.logo {
  display: block;
  text-align: center;
}
.avatar {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 0.125rem;
  width: 100px;
}

.contact-header {
  margin: 0;
  font-size: 1.125rem;
  color: $color-black;
}

.profile {
  background: #f4f4f4;
  border: 1px solid #CCC;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem;
}

.tag {
  @extend %u-s-mr-tiny;
  @extend %u-s-mb-tiny;
  @extend %u-s-ps-tiny;
  background: #f4f4f4;
  border: 1px solid #CCC;
  border-radius: 5px;
}