@charset "UTF-8";

//@import "settings";


/* Scally framework
   ========================================================================= */

/**
 * CORE.
 *
 * N.B. this is all mandatory for the Scally framework.
 */

// Settings
$font-family-base: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-size-heading-1:     30;
$font-size-heading-2:     20;
$font-size-heading-3:     18;
$font-size-heading-4:     16;
$font-size-heading-5:     14;
@import "../node_modules/scally/core/settings/typography";

@import "../node_modules/scally/core/settings/spacing";

@import "../node_modules/scally/core/settings/retina-resolution";

@import "../node_modules/scally/core/settings/breakpoints";

@import "../node_modules/scally/core/settings/widths";

$color-brand: #e98e95;
@import "../node_modules/scally/core/settings/colours";

@import "../node_modules/scally/core/settings/positioning";

@import "../node_modules/scally/core/settings/cosmetics";

// Functions
@import "../node_modules/scally/core/functions/convert-px-to-em-rem";

@import "../node_modules/scally/core/functions/math-helpers";

@import "../node_modules/scally/core/functions/string-replace";

@import "../node_modules/scally/core/functions/strip-unit";

// Mixins
@import "../node_modules/scally/core/mixins/convert-px-to-em-rem";

@import "../node_modules/scally/core/mixins/font-size";

@import "../node_modules/scally/core/mixins/gradients";

@import "../node_modules/scally/core/mixins/media-queries";

@import "../node_modules/scally/core/mixins/generate-at-breakpoints";

@import "../node_modules/scally/core/mixins/generate-percentage-classes-at-breakpoints";

@import "../node_modules/scally/core/mixins/retina-bg-image";

@import "../node_modules/scally/core/mixins/target-browsers";

@import "../node_modules/scally/core/mixins/target-headings";

@import "../node_modules/scally/core/mixins/text-input-placeholder-colour.scss";

// Normalize
@import "../node_modules/scally/core/normalize";

// Reset
@import "../node_modules/scally/core/reset";

// Base
@import "../node_modules/scally/core/base/root";

@import "../node_modules/scally/core/base/abbreviation";

@import "../node_modules/scally/core/base/forms";

@import "../node_modules/scally/core/base/details";

@import "../node_modules/scally/core/base/headings";

@import "../node_modules/scally/core/base/horizontal-rule";

$link-color: #5daabe;
@import "../node_modules/scally/core/base/links";

@import "../node_modules/scally/core/base/media";

@import "../node_modules/scally/core/base/paragraphs";

@import "../node_modules/scally/core/base/print";

@import "../node_modules/scally/core/base/viewport";

// Placeholders
@import "../node_modules/scally/core/placeholders/bottom-spacing";


/**
 * LAYOUT.
 */

// Main container
$l-container-maximum-width: 1000;
$l-container-apply-breakpoints-for-default: true;
$l-container-apply-at-breakpoints: (lap, lap max);
@import "../node_modules/scally/layout/l-container";

// Grid
@import "../node_modules/scally/layout/l-grid";


/**
 * OBJECTS.
 */

$o-list-apply-hanging-bullets: true;
@import "../node_modules/scally/objects/o-list";

@import "../node_modules/scally/objects/o-list-block";

@import "../node_modules/scally/objects/o-list-inline";


/**
 * UTILITIES.
 */

@import "../node_modules/scally/utilities/u-hide";

@import "../node_modules/scally/utilities/u-text";

@import "../node_modules/scally/utilities/u-spacing";

@import "../node_modules/scally/utilities/u-widths";




/* Project Specific
   ========================================================================= */

/**
 * CORE.
 */

// Normalize
small { font-size: 100%;}

// Base
h1 {
  color: $color-brand;
  @include to-rem(margin-bottom, $spacing-half); 
}

h2 {margin-bottom: 0;}

h3 {
  @include to-rem(margin-bottom, $spacing-half);
  @include to-rem(font-size, $font-size-small);
  color: #888;
  font-weight: normal;
}


/**
 * COMPONENTS.
 */
nav {
  @include to-rem(padding-top padding-bottom, $spacing-half);
  border-bottom: 1px solid #ccc;
  color: #888;
}
footer {
  @include to-rem(padding-top padding-bottom, $spacing-half);
  border-top: 1px solid #ccc;
  color: #888;
}

.c-box {
  background: #f4f4f4;
  border: 1px solid #CCC;
  border-top: 0;
  padding: 1rem;

  @include respond-to(lap) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  } 
}

.c-tag {
  background: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  @include to-rem(margin-right margin-bottom, $spacing-third);
  @include to-rem(padding-left padding-right, $spacing-third);
}

.c-icon {
  @include to-rem(width, 16);
  @include to-rem(height, 16);
  @include to-rem(margin-right, $spacing-third);
  display: inline-block;
  vertical-align: middle;
}

.c-avatar {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  @include to-rem(padding, $spacing-micro);
  @include to-rem(width, 100);
}

.c-contact {
  text-align: center;

  @include respond-to(lap) {
    text-align: left;
  }
}

  .c-contact__header {
    margin: 0;
    color: $color-black;
  }



.c-project {
  @include to-rem(margin-bottom, $spacing-base);
}

  .c-project__example {
    border: 1px solid #ccc;
    border-radius: 5px;
    @include to-rem(margin-bottom, $spacing-third);
  }

  .c-project__tool {
    color: #888;
    @include to-rem(font-size, $font-size-x-small);
  }

//Clean up
.logo {
  display: block;
  text-align: center;

  h1 {
    color: #000;
    font-weight: normal;
  }
}